*.pyd
*.pyc
*~
*build*
*.egg-info
*.so
*.so.*
*.sm
*.out
.idea*
*__pycache__*
.DS_Store
smt/src/rbf/rbfclib.cpp
smt/src/idw/idwclib.cpp
smt/src/rmts/rmtsclib.cpp
.project
.pydevproject
.settings/
/.coverage
/coverage_html_report
/dist
.vscode/
.pytest_cache/
/env
/venv
/pip-wheel-metadata
**/.ipynb_checkpoints
