branches:
  only:
    - master

language: generic
matrix:
  include:
    - os: linux
      env: PY=2.7
    - os: linux
      env: PY=3.6 COVERAGE=1
    - os: linux
      env: PY=3.7
    - os: osx
      env: PY=2.7
    - os: osx
      env: PY=3.6

osx_image: xcode9.4
dist: xenial

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gfortran
    - libblas-dev
    - liblapack-dev
    - libopenmpi-dev
    - openmpi-bin
    - gcc-5
    - g++-5

install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      if [ "$PY" = "2.7" ]; then
        wget https://repo.continuum.io/miniconda/Miniconda2-latest-MacOSX-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
      fi
    else
      if [ "$PY" = "2.7" ]; then
        wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$PY numpy pandas scipy cython scikit-learn
  - source activate test-environment
  - pip install --upgrade pip
  - pip install testflo==1.3.6
  - pip install git+https://github.com/hwangjt/sphinx_auto_embed.git
  - pip install -e . 
  - pip install coverage
  - pip install coveralls 

script:
- testflo -n 1 smt --verbose --coverage --coverpkg=smt
- cd doc
- sphinx_auto_embed
- make html
- cd ..

after_success:
- if [ "$COVERAGE" ]; then
    coveralls;
  fi
