build: false
version: 0.2.{build}
platform:
  - x64

environment:
  matrix:
    - PYTHON: 2.7
      CONDA: "C:\\Miniconda-x64"

    - PYTHON: 3.6
      CONDA: "C:\\Miniconda36-x64"

install:
  - set PATH=%CONDA%;%CONDA%\Scripts;%PATH%
  - conda config --set always_yes yes
  - conda update conda
  - conda install python=%PYTHON% numpy scipy=1.0.1 mkl==2018.0.2 Cython sphinx pip --quiet
  - pip install git+https://github.com/OpenMDAO/testflo.git
  - pip install git+https://github.com/hwangjt/sphinx_auto_embed.git
  - pip install -e .
  - pip list
  - conda list

test_script:
  - testflo . -n 1
  - cd doc
  - sphinx_auto_embed
  - make html
