Cython
numpy
scipy
scikit-learn
pyDOE2
numba        # JIT compiler
matplotlib   # used in examples and tests
pytest       # tests runner
pytest-xdist # allows running parallel testing with pytest -n <num_workers>
black        # check code format