name: Tests Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Python info
      run: python --version

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt numpy==1.26.4 ConfigSpace==0.6.1 adsg-core==1.1.0
        pip install git+https://github.com/SMTorg/smt-design-space

        pip list
        pip install -e .

    - name: Check with ruff
      run: |
        ruff --version
        ruff check .

    - name: Test with pytest and coverage
      run: |
        RUN_SLOW_TESTS=1 pytest -v --durations=0 --cov=smt

    - name: Coveralls
      uses: AndreMiras/coveralls-python-action@develop
      with:
        parallel: true
        flag-name: Test

  coveralls_finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: AndreMiras/coveralls-python-action@develop
      with:
        parallel-finished: true
